Carolina Estrella Machado - 180074792

Ana Beatriz Wanderley Massuh - 200060783 

Mirella Gomes Silva Nascimento - 202033525

In [ ]:
!pip install krippendorff

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting krippendorff
  Downloading krippendorff-0.5.1-py3-none-any.whl (17 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from krippendorff) (1.21.6)
Installing collected packages: krippendorff
Successfully installed krippendorff-0.5.1

In [19]:
import pandas as pd
import json
import os
import krippendorff
import numpy as np
import pandas as pd
from sklearn.metrics import cohen_kappa_score

In [ ]:
df_dict = {}

In [ ]:
ana = {}
path = "/content/Ana"
for file in os.listdir(path):
    full_filename = "%s/%s" % (path, file)
    with open(full_filename,'r') as fi:
      data = fi.read().replace('\n', '')
      value = json.loads(data)['metas']['m_4']['value']
      x = full_filename.split("headphone.csv_")
      x = x[1].split(".ann.json")
      ana['doc ' + x[0]] = value

print(ana)
df_dict['Ana'] = ana

{'doc 18': 'neutral', 'doc 11': 'good', 'doc 45': 'bad', 'doc 70': 'bad', 'doc 46': 'bad', 'doc 91': 'good', 'doc 7': 'good', 'doc 60': 'bad', 'doc 17': 'good', 'doc 24': 'good', 'doc 81': 'good', 'doc 86': 'neutral', 'doc 30': 'bad', 'doc 93': 'good', 'doc 88': 'bad', 'doc 40': 'good', 'doc 67': 'good', 'doc 71': 'good', 'doc 26': 'bad', 'doc 97': 'bad', 'doc 12': 'bad', 'doc 49': 'bad', 'doc 73': 'bad', 'doc 100': 'good', 'doc 43': 'good', 'doc 53': 'bad', 'doc 3': 'good', 'doc 68': 'good', 'doc 5': 'bad', 'doc 4': 'good', 'doc 52': 'good', 'doc 35': 'neutral', 'doc 94': 'bad', 'doc 92': 'good', 'doc 98': 'good', 'doc 58': 'good', 'doc 27': 'neutral', 'doc 20': 'neutral', 'doc 22': 'good', 'doc 31': 'bad', 'doc 74': 'bad', 'doc 72': 'good', 'doc 84': 'bad', 'doc 38': 'neutral', 'doc 48': 'bad', 'doc 8': 'bad', 'doc 39': 'good', 'doc 25': 'good', 'doc 41': 'good', 'doc 66': 'bad', 'doc 37': 'good', 'doc 29': 'good', 'doc 80': 'good', 'doc 32': 'good', 'doc 87': 'bad', 'doc 89': 'bad', 'doc 16': 'good', 'doc 33': 'good', 'doc 65': 'good', 'doc 34': 'bad', 'doc 95': 'bad', 'doc 47': 'good', 'doc 69': 'good', 'doc 63': 'bad', 'doc 83': 'bad', 'doc 64': 'bad', 'doc 59': 'bad', 'doc 99': 'good', 'doc 15': 'bad', 'doc 76': 'bad', 'doc 56': 'bad', 'doc 36': 'bad', 'doc 2': 'good', 'doc 21': 'good', 'doc 23': 'good', 'doc 19': 'good', 'doc 13': 'bad', 'doc 79': 'bad', 'doc 62': 'good', 'doc 55': 'bad', 'doc 85': 'bad', 'doc 51': 'bad', 'doc 54': 'good', 'doc 28': 'good', 'doc 14': 'bad', 'doc 96': 'bad', 'doc 44': 'good', 'doc 10': 'good', 'doc 6': 'bad', 'doc 1': 'good', 'doc 42': 'good', 'doc 50': 'bad', 'doc 90': 'bad', 'doc 77': 'bad', 'doc 57': 'neutral', 'doc 75': 'good', 'doc 61': 'neutral', 'doc 9': 'bad', 'doc 82': 'good', 'doc 78': 'bad'}

In [ ]:
carol = {}
path = "/content/Carol"
for file in os.listdir(path):
    full_filename = "%s/%s" % (path, file)
    with open(full_filename,'r') as fi:
      data = fi.read().replace('\n', '')
      value = json.loads(data)['metas']['m_4']['value']
      x = full_filename.split("headphone.csv_")
      x = x[1].split(".ann.json")
      carol['doc ' + x[0]] = value

print(carol)
df_dict['Carol'] = carol

{'doc 18': 'good', 'doc 11': 'good', 'doc 45': 'bad', 'doc 70': 'bad', 'doc 46': 'bad', 'doc 91': 'good', 'doc 7': 'good', 'doc 60': 'bad', 'doc 17': 'neutral', 'doc 24': 'good', 'doc 81': 'good', 'doc 86': 'good', 'doc 30': 'bad', 'doc 93': 'good', 'doc 88': 'bad', 'doc 40': 'good', 'doc 67': 'good', 'doc 71': 'good', 'doc 26': 'bad', 'doc 97': 'bad', 'doc 12': 'neutral', 'doc 49': 'bad', 'doc 73': 'bad', 'doc 100': 'good', 'doc 43': 'good', 'doc 53': 'bad', 'doc 3': 'good', 'doc 68': 'good', 'doc 5': 'bad', 'doc 4': 'neutral', 'doc 52': 'good', 'doc 35': 'good', 'doc 94': 'bad', 'doc 92': 'neutral', 'doc 98': 'good', 'doc 58': 'neutral', 'doc 27': 'good', 'doc 20': 'good', 'doc 22': 'good', 'doc 31': 'bad', 'doc 74': 'neutral', 'doc 72': 'good', 'doc 84': 'bad', 'doc 38': 'neutral', 'doc 48': 'bad', 'doc 8': 'bad', 'doc 39': 'good', 'doc 25': 'neutral', 'doc 41': 'good', 'doc 66': 'bad', 'doc 37': 'bad', 'doc 29': 'good', 'doc 80': 'neutral', 'doc 32': 'good', 'doc 87': 'bad', 'doc 89': 'bad', 'doc 16': 'good', 'doc 33': 'good', 'doc 65': 'bad', 'doc 34': 'neutral', 'doc 95': 'neutral', 'doc 47': 'good', 'doc 69': 'neutral', 'doc 63': 'bad', 'doc 83': 'bad', 'doc 64': 'bad', 'doc 59': 'bad', 'doc 99': 'good', 'doc 15': 'bad', 'doc 76': 'neutral', 'doc 56': 'bad', 'doc 36': 'neutral', 'doc 2': 'good', 'doc 21': 'neutral', 'doc 23': 'good', 'doc 19': 'neutral', 'doc 13': 'good', 'doc 79': 'bad', 'doc 62': 'good', 'doc 55': 'bad', 'doc 85': 'bad', 'doc 51': 'bad', 'doc 54': 'good', 'doc 28': 'good', 'doc 14': 'bad', 'doc 96': 'good', 'doc 44': 'good', 'doc 10': 'good', 'doc 6': 'bad', 'doc 1': 'good', 'doc 42': 'good', 'doc 50': 'bad', 'doc 90': 'bad', 'doc 77': 'bad', 'doc 57': 'neutral', 'doc 75': 'good', 'doc 61': 'neutral', 'doc 9': 'bad', 'doc 82': 'neutral', 'doc 78': 'bad'}

In [ ]:
mirella = {}
path = "/content/Mirella"
for file in os.listdir(path):
    full_filename = "%s/%s" % (path, file)
    with open(full_filename,'r') as fi:
      data = fi.read().replace('\n', '')
      value = json.loads(data)['metas']['m_4']['value']
      x = full_filename.split("headphone.csv_")
      x = x[1].split(".ann.json")
      mirella['doc ' + x[0]] = value

print(mirella)
df_dict['Mirella'] = mirella

{'doc 18': 'bad', 'doc 11': 'bad', 'doc 45': 'bad', 'doc 70': 'bad', 'doc 46': 'bad', 'doc 91': 'good', 'doc 7': 'good', 'doc 60': 'bad', 'doc 17': 'good', 'doc 24': 'good', 'doc 81': 'good', 'doc 86': 'bad', 'doc 30': 'bad', 'doc 93': 'good', 'doc 88': 'bad', 'doc 40': 'good', 'doc 67': 'good', 'doc 71': 'good', 'doc 26': 'bad', 'doc 97': 'bad', 'doc 12': 'bad', 'doc 49': 'bad', 'doc 73': 'bad', 'doc 100': 'good', 'doc 43': 'good', 'doc 53': 'bad', 'doc 3': 'good', 'doc 68': 'good', 'doc 5': 'bad', 'doc 4': 'bad', 'doc 52': 'good', 'doc 35': 'good', 'doc 94': 'bad', 'doc 92': 'good', 'doc 98': 'good', 'doc 58': 'good', 'doc 27': 'good', 'doc 20': 'bad', 'doc 22': 'good', 'doc 31': 'bad', 'doc 74': 'good', 'doc 72': 'good', 'doc 84': 'bad', 'doc 38': 'good', 'doc 48': 'bad', 'doc 8': 'bad', 'doc 39': 'good', 'doc 25': 'good', 'doc 41': 'good', 'doc 66': 'bad', 'doc 37': 'bad', 'doc 29': 'good', 'doc 80': 'good', 'doc 32': 'good', 'doc 87': 'bad', 'doc 89': 'bad', 'doc 16': 'good', 'doc 33': 'good', 'doc 65': 'bad', 'doc 34': 'bad', 'doc 95': 'neutral', 'doc 47': 'good', 'doc 69': 'good', 'doc 63': 'bad', 'doc 83': 'bad', 'doc 64': 'bad', 'doc 59': 'bad', 'doc 99': 'good', 'doc 15': 'bad', 'doc 76': 'bad', 'doc 56': 'bad', 'doc 36': 'bad', 'doc 2': 'good', 'doc 21': 'bad', 'doc 23': 'good', 'doc 19': 'good', 'doc 13': 'good', 'doc 79': 'bad', 'doc 62': 'good', 'doc 55': 'bad', 'doc 85': 'bad', 'doc 51': 'bad', 'doc 54': 'good', 'doc 28': 'good', 'doc 14': 'bad', 'doc 96': 'good', 'doc 44': 'good', 'doc 10': 'good', 'doc 6': 'bad', 'doc 1': 'good', 'doc 42': 'good', 'doc 50': 'bad', 'doc 90': 'bad', 'doc 77': 'bad', 'doc 57': 'neutral', 'doc 75': 'neutral', 'doc 61': 'good', 'doc 9': 'bad', 'doc 82': 'good', 'doc 78': 'bad'}

In [ ]:
df = pd.DataFrame.from_dict(df_dict)
df

            Ana    Carol  Mirella
doc 18  neutral     good      bad
doc 11     good     good      bad
doc 45      bad      bad      bad
doc 70      bad      bad      bad
doc 46      bad      bad      bad
...         ...      ...      ...
doc 75     good     good  neutral
doc 61  neutral  neutral     good
doc 9       bad      bad      bad
doc 82     good  neutral     good
doc 78      bad      bad      bad

[100 rows x 3 columns]

In [20]:
corpus_transpose = []

for atrib in df:
  lista = np.array(df[atrib])
  corpus_transpose.append(list(lista.T))

In [22]:
mapping = {'good' : 2, 'neutral' : 1, 'bad' : 0}

In [24]:
corpus_transpose_int = []

for labels in corpus_transpose:
    t = []
    for doc in labels:
        t.append(mapping[doc])
    corpus_transpose_int.append(t)

In [26]:
print("Krippendorff's alpha for nominal metric: ", krippendorff.alpha(reliability_data=corpus_transpose_int,
                                                                          level_of_measurement="nominal"))

Krippendorff's alpha for nominal metric:  0.6364879753808745